.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    display: flex;
}

.finalPayment {
    color: #fff;
}

.button {
    margin-top: 20px;
    width: 100px;
}
